.commentbox {    
    margin-bottom: 2%;
    padding: 2%;    
    text-align: center;
    
}

#buttonShow{
    margin-top: 3px;
    height: 50px;
    text-transform: none;
    color: white;
    -webkit-box-shadow: 0px 2px 26px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 26px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 26px -7px rgba(0,0,0,0.75);

}

#buttonShow:hover{    
    color: black;
    -webkit-box-shadow: 0px 2px 26px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 26px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 26px -7px rgba(0,0,0,0.75);
    background-color:rgb(212, 209, 209) ;

}

#yourname {    
    box-shadow: none;
    text-shadow: none;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;    
}

#textarea {
    width: 60%;
    height: 80%;
    margin-top: 0.5%;
    font-family: Arial, Helvetica, sans-serif;    
}

.comment-header {
    font-weight: bolder;
    text-decoration: underline;    
}

#postItButton {


}

#postItButton:hover {
    color: black;
    -webkit-box-shadow: 0px 2px 26px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 26px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 26px -7px rgba(0,0,0,0.75);

}

