#avatars {
    display: flex;
    flex-direction: row;
    text-decoration: none;
   
}

#avatars Avatar a {
    text-emphasis: none;
}

#avatarsRight{
    text-decoration: none;
    margin-left: 35%;
    display: flex;
    text-decoration: none;
}


#logIn{
    text-decoration: 'none';
    color: #3f51b5;
    cursor: pointer;
}

#logIn:hover {
    background: rgb(230, 225, 225);
    
    
}




@media screen and (max-width: 800px){
    #avatarsRight{
        text-decoration: none;
        margin-left: -5%;
        display: flex;
        text-decoration: none;
    
    
    }
  }